* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #0d1b2a, #1b263b);
  color: white;
  text-align: center;
}

/* NAVBAR */

.navbar {
  background-color: #0a0a0a;
  padding: .6rem;
  top: 0;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 10px; */
  font-size: .8rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0; */
  /* padding: 0 20px; */
  gap: .71rem;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: .5rem .8rem;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
  font-weight: 500;
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
}

.navbar li a:hover {
  background-color: #0ef;
  color: #0a0a0a;
}

.navbar li a.home {
  background-color: #0ef;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

/* PAGE TITLE */

.title {
  font-size: 2rem;
  color: #00e6ff;
  padding: 1rem;
}

/* PROGRAM TAG GRID */

.program-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  padding: 1rem;
  /* background-color: red; */
  max-height: 3.6rem;
  overflow-x: scroll;
}

.program-tags a {
  background-color: #333b46;
  color: #0ef;
  padding: .5rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: .9rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.program-tags a:hover {
  background-color: #0ef;
  color: #0d1117;
  transform: translateY(-2px);
}

/* OUTPUT CONTAINER */

.code-frame {
  max-width: 1000px;
  margin: 0 auto 50px;
  margin-top: .7rem;
  background-color: #1e242c;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 1rem;
  text-align: left;
}

.code-frame iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
  background-color: #0d1b2a;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .program-tags {
    flex-direction: column;
    align-items: center;
  }

  .code-frame iframe {
    height: 400px;
  }
}
